# Compiled LaTeX
*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz
*.fdb_latexmk
*.fls
*.toc
*.lof
*.lot
*.nav
*.snm
*.vrb

# Python
__pycache__/
*.pyc
*.egg-info/
venv/

# OS
.DS_Store
Thumbs.db

# Data
data/*.csv
